* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  user-select: none;
}

html,
body {
  height: 100%;
}

body {
  padding: 0;
}

h1,
h4 {
  text-align: center;
}

h4 {
  margin-top: 0.5rem;
}
.text-gray-400 {
  --tw-text-opacity: 1;
  color: rgb(156 163 175/var(--tw-text-opacity));
}
.pt-6 {
  padding-top: 1.5rem
}
.pb-2 {
  padding-bottom: .5rem
}

 .mb-6 {
  margin-bottom: 1.5rem;
 }

.bg-primary {
  --tw-bg-opacity: 1;
  background-color: rgb(59 113 202);
}
#container {
  position: relative;
  width: 100%;
  height: 530px;
  max-width: 64rem;
  max-height: 100%;
  border: 2px dashed #D1D5DB;
  border-radius: 0.75rem;
  overflow: hidden;
  background-position: center;
  background-repeat: no-repeat;
  margin-left:auto;
  margin-right: auto;
  background-size: contain !important;
}

#upload-button {
  gap: 0.4rem;
  font-size: 18px;
  cursor: pointer;
}

#upload {
  display: none;
}

svg {
  pointer-events: none;
}

#example {
  font-size: 14px;
  text-decoration: underline;
  cursor: pointer;
}

#example:hover {
  color: #2563EB;
}

canvas {
  position: absolute;
  width: 100%;
  height: 100%;
}

#status {
  min-height: 16px;
  margin: 8px 0;
}

#progressBar {
  transition: all .5s linear;
}

/* -------------------------------- 

Primary style

-------------------------------- */
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-size: 100%;
  font-family: "Open Sans", sans-serif;
  color: #445b7c;
  background-color: #445b7c;
}

a {
  color: #dc717d;
  text-decoration: none;
}

img {
  max-width: 100%;
}

/* -------------------------------- 

Main components 

-------------------------------- */
header {
  position: relative;
  height: 160px;
  line-height: 160px;
  text-align: center;
}
header h1 {
  font-size: 22px;
  font-size: 1.375rem;
  color: #ffffff;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@media only screen and (min-width: 768px) {
  header {
    height: 240px;
    line-height: 240px;
  }
  header h1 {
    font-size: 32px;
    font-size: 2rem;
  }
}

.cd-image-container {
  position: relative;
  width: 90%;
  max-width: 768px;
  margin: 0em auto;
  margin-top: 2rem;
}
.cd-image-container img {
  display: block;
}

.cd-image-label {
  position: absolute;
  bottom: 0;
  right: 0;
  color: #ffffff;
  padding: 1em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  opacity: 0;
  -webkit-transform: translateY(20px);
  -moz-transform: translateY(20px);
  -ms-transform: translateY(20px);
  -o-transform: translateY(20px);
  transform: translateY(20px);
  -webkit-transition: -webkit-transform 0.3s 0.7s, opacity 0.3s 0.7s;
  -moz-transition: -moz-transform 0.3s 0.7s, opacity 0.3s 0.7s;
  transition: transform 0.3s 0.7s, opacity 0.3s 0.7s;
  background-color: rgba(0, 0, 0, 0.6);
}
.cd-image-label.is-hidden {
  visibility: hidden;
}
.is-visible .cd-image-label {
  opacity: 1;
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
}

.cd-resize-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  overflow: hidden;
  /* Force Hardware Acceleration in WebKit */
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.cd-resize-img img {
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  height: 100%;
  width: auto;
  max-width: none;
}
.cd-resize-img .cd-image-label {
  right: auto;
  left: 0;
}
.is-visible .cd-resize-img {
  width: 50%;
  /* bounce in animation of the modified image */
  -webkit-animation: cd-bounce-in 0.7s;
  -moz-animation: cd-bounce-in 0.7s;
  animation: cd-bounce-in 0.7s;
  background-image: url(./img/transparent.jpg);
  background-repeat: repeat;
}

@-webkit-keyframes cd-bounce-in {
  0% {
    width: 0;
  }
  60% {
    width: 55%;
  }
  100% {
    width: 50%;
  }
}
@-moz-keyframes cd-bounce-in {
  0% {
    width: 0;
  }
  60% {
    width: 55%;
  }
  100% {
    width: 50%;
  }
}
@keyframes cd-bounce-in {
  0% {
    width: 0;
  }
  60% {
    width: 55%;
  }
  100% {
    width: 50%;
  }
}
.cd-handle {
  position: absolute;
  height: 44px;
  width: 44px;
  /* center the element */
  left: 50%;
  top: 50%;
  margin-left: -22px;
  margin-top: -22px;
  border-radius: 50%;
  background: #dc717d url("./img/cd-arrows.svg") no-repeat center center;
  cursor: move;
  box-shadow: 0 0 0 6px rgba(0, 0, 0, 0.2), 0 0 10px rgba(0, 0, 0, 0.6), inset 0 1px 0 rgba(255, 255, 255, 0.3);
  opacity: 0;
  -webkit-transform: translate3d(0, 0, 0) scale(0);
  -moz-transform: translate3d(0, 0, 0) scale(0);
  -ms-transform: translate3d(0, 0, 0) scale(0);
  -o-transform: translate3d(0, 0, 0) scale(0);
  transform: translate3d(0, 0, 0) scale(0);
}
.cd-handle.draggable {
  /* change background color when element is active */
  background-color: #445b7c;
}
.is-visible .cd-handle {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0) scale(1);
  -moz-transform: translate3d(0, 0, 0) scale(1);
  -ms-transform: translate3d(0, 0, 0) scale(1);
  -o-transform: translate3d(0, 0, 0) scale(1);
  transform: translate3d(0, 0, 0) scale(1);
  -webkit-transition: -webkit-transform 0.3s 0.7s, opacity 0s 0.7s;
  -moz-transition: -moz-transform 0.3s 0.7s, opacity 0s 0.7s;
  transition: transform 0.3s 0.7s, opacity 0s 0.7s;
}

:root {
  --image-comparison-slider-width: min(80vw, 768px);
  --image-comparison-slider-handle-width: 50px;
}

#image-comparison-slider {
  position: relative;
  width: var(--image-comparison-slider-width);
  overflow: hidden;
  border-radius: 0.5rem;
  box-shadow: -7px 5px 16px 1px rgba(56, 86, 122, 0.6);
  cursor: col-resize;
  margin-left: auto;
  margin-right: auto;
}
#image-comparison-slider img {
  display: block;
  width: var(--image-comparison-slider-width);
  height: auto;
  max-height: 80vh;
  object-fit: cover;
  pointer-events: none;
  user-select: none;
}
#image-comparison-slider .img-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  overflow: hidden;
  z-index: 1;
  transform: translateZ(0); /* This is in order to fix a Firefox bug, related to the 3D tilt effect */
  /* transition: 0.25s cubic-bezier(.03,.98,.52,.99); */
  background-image: url(./img/transparent.jpg);
  background-repeat: repeat;
}
#image-comparison-slider .img-wrapper img {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
}
#image-comparison-slider .label {
  position: absolute;
  top: 1rem;
  z-index: 3;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.33);
  border-radius: 0.25rem;
  padding: 0.5rem 0.75rem;
  font-size: 0.85rem;
  text-align: center;
  letter-spacing: 1px;
  user-select: none;
  opacity: 0;
  transition: 0.25s cubic-bezier(.68,.26,.58,1.22);
}
#image-comparison-slider:hover .label {
  opacity: 1;
}
#image-comparison-slider .label.label-before {
  left: 1rem;
}
#image-comparison-slider .label.label-after {
  right: 1rem;
  background-color: #f95540;
}
#image-comparison-slider .handle {
  position: absolute;
  top: 0;
  left: calc(50% - var(--image-comparison-slider-handle-width)/2);
  width: var(--image-comparison-slider-handle-width);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  user-select: none;
  z-index: 2;
  /* transition: 0.25s cubic-bezier(.03,.98,.52,.99); */
}
#image-comparison-slider .handle-line {
  width: 2px;
  flex-grow: 1;
  background-color: #fff;
}
#image-comparison-slider .handle-circle {
  width: var(--image-comparison-slider-handle-width);
  height: var(--image-comparison-slider-handle-width);
  color: #fff;
  border: 2px solid #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  /* background-color: rgba(0,0,0,0.5); */
}

#status-wrap {
  width: 64rem;
  margin-left: auto;
  margin-right: auto;
}
.block-wrap {
  display: none;
  max-width: 48rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
}

.image-comparison {
  position: relative;
  max-width: 48.063em;
  margin-right: auto;
  margin-left: auto;
  overflow: hidden;
}

.checkerboard {
  --checkerboard-black-color: #f8f9f9;
  --checkerboard-white-color: transparent;
  background-image: linear-gradient(45deg,var(--checkerboard-black-color) 25%,var(--checkerboard-white-color) 25%),linear-gradient(-45deg,var(--checkerboard-black-color) 25%,var(--checkerboard-white-color) 25%),linear-gradient(45deg,var(--checkerboard-white-color) 75%,var(--checkerboard-black-color) 75%),linear-gradient(-45deg,var(--checkerboard-white-color) 75%,var(--checkerboard-black-color) 75%);
  background-size: 20px 20px;
  background-position: 0 0,0 10px,10px -10px,-10px 0
}

.image-comparison__slider-wrapper {
  position: relative;
  z-index: 2;
}

.image-comparison__label {
  font-size: 0;
  line-height: 0;
}

.image-comparison__label,
.image-comparison__range {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: none;
  cursor: ew-resize;
  z-index: 20;
}

@media (hover) {
  .image-comparison__range:hover ~ .image-comparison__slider .image-comparison__thumb {
    transform: scale(1.2);
  }
}

.image-comparison .image-comparison__slider-wrapper .image-comparison__range:active ~ .image-comparison__slider .image-comparison__thumb,
.image-comparison .image-comparison__slider-wrapper .image-comparison__range:focus ~ .image-comparison__slider .image-comparison__thumb,
.image-comparison .image-comparison__slider-wrapper .image-comparison__range--active ~ .image-comparison__slider .image-comparison__thumb {
  transform: scale(0.8);
  background-color: rgba(0, 97, 127, 0.5);
}

.image-comparison__image-wrapper--overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: calc(50% + 1px);
  height: 100%;
  overflow: hidden;
}

.image-comparison__figure {
  margin: 0;
}
.image-comparison__figure::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.image-comparison__figure:not(.image-comparison__figure--overlay) {
  position: relative;
  padding-top: 66.666666667%;
}

.image-comparison__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 0 50%;
     object-position: 0 50%;
  overflow: hidden;
}
.image-comparison__figure--overlay .image-comparison__image {
  z-index: 1;
}

.image-comparison__caption {
  position: absolute;
  bottom: 12px;
  min-width: -webkit-max-content;
  min-width: -moz-max-content;
  min-width: max-content;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
}
@media screen and (max-width: 40.063em) {
  .image-comparison__caption {
    font-size: 12px;
  }
}

.image-comparison__caption--before {
  left: 12px;
  z-index: 2;
}

.image-comparison__caption--after {
  right: 12px;
  text-align: right;
}

.image-comparison__caption-body {
  max-width: 40vmin;
  padding: 6px 12px;
  background-color: rgba(0, 0, 0, 0.55);
}

.image-comparison__slider {
  position: absolute;
  top: 0;
  left: 50%;
  width: 2px;
  height: 100%;
  background-color: #fff;
  transition: background-color 0.3s ease-in-out;
  z-index: 10;
}
.image-comparison__range--active ~ .image-comparison__slider {
  background-color: rgba(255, 255, 255, 0);
}

.image-comparison__thumb {
  position: absolute;
  top: calc(50% - 20px);
  left: calc(50% - 20px);
  width: 40px;
  height: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #0091df;
  color: #fff;
  border-radius: 50%;
  box-shadow: 0 0 22px 0 rgba(0, 0, 0, 0.5);
  transform-origin: center;
  transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.image-comparison__range::-webkit-slider-runnable-track {
  width: 40px;
  height: 40px;
  opacity: 0;
}

.image-comparison__range::-moz-range-thumb {
  width: 40px;
  height: 40px;
  opacity: 0;
}

.image-comparison__range::-webkit-slider-thumb {
  width: 40px;
  height: 40px;
  opacity: 0;
}

.image-comparison__range::-ms-fill-lower {
  background-color: transparent;
}

.image-comparison__range::-ms-track {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
  margin: 0;
  padding: 0;
  background-color: transparent;
  color: transparent;
  outline: none;
  cursor: col-resize;
}

.image-comparison__range::-ms-thumb {
  width: 0.5%;
  height: 100%;
  opacity: 0;
}

.image-comparison__range::-ms-tooltip {
  display: none;
}


@media (max-width: 768px) {
  :root {
    --image-comparison-slider-width: 90vw;
  }
}
